.container {
  background: #1a1a40;
  width: 30%;
  min-height: 96px;
  height: fit-content;
  border-radius: 8px;
  padding-top: 12px;
}

.title {
  padding: 0 20px 4px 20px;
  font-weight: bold;
}

.wrapperItemEdited {
  background: #8758ff;
  margin-bottom: 12px;
  padding: 16px 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.wrapperItem {
  background: #8758ff;
  margin-bottom: 12px;
  padding: 16px 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}

.textInputItem {
  color: #1a1a40;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 4px;
}

.inputItem {
  border-radius: 6px;
  background: #1a1a40;
  padding: 4px;
  font-size: 14px;
  line-height: 20px;
  border: none;
}

.inputItem:focus {
  outline: none;
}

.textItem {
  font-weight: 500;
  user-select: none;
}

.wrapperButtonEdit {
  display: flex;
  gap: 4px;
}

.editIcon {
  cursor: pointer;
}
